<!doctype html>
<html>
	<head lang="<%= lang %>">

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title><%= site %> - <%= title %></title>

		<meta charset="utf-8">

		<meta name="author" content="<%= author %>">
		<meta name="keywords" content="<%= keywords %>">
		<meta name="description" content="<%= description %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="<%= site %> - <%= title %>">
		<meta property="og:description" content="<%= description %>">

		<link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">

		<!-- CSS -->
		<% for(var i=0; i<styles.length; i++) {%>
			<link rel="stylesheet" href="<%= styles[i] %>">
		<% } %>

	</head>
	<body data-layout="<%= bodyclass %>">